{% extends "base_generic.html" %}

{% block content %}
<h1>. fml finance</h1>

  <p>Welcome to <em>fml Finance</em>, a very basic Django checkbook website.</p>

  <p>Your Finances are as follows - fml:</p>
  <ul>
    <li><strong>Transactions:</strong> {{ num_checks }}</li>
    <li><strong>Lifetime Balance:</strong> {{ tot_bal.amount__sum }}</li>
    <li><strong>Today Balance:</strong> {{ today_bal.amount__sum }}</li>
  </ul>

  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}
    you've got some issues buddy.</p>

{% endblock %}
