{% extends "base_generic.html" %}

{% block content %}
    <h2>.fml finanace .checkbook</h2>

    <a href="{% url 'check-add' %}">add new</a>

    {% if check_list %}
    <ul>

      {% for check in check_list %}
      <li>
        {{ check.date|date:'Y M d' }}:
        <a href="{{ check.get_absolute_url }}"> {{ check.name }}</a> ({{check.amount}})
        <a href="{% url 'check-delete' check.id %}">delete</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no checks in the checkbook.</p>
    {% endif %}

{% endblock %}
